<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>title</td>
                <td>isbn</td>
            </tr>
        </thead>

        <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.id}">123</td>
                <td th:text="${book.title}">sample book</td>
                <td th:text="${book.publisher.publisherName}">index-me</td>
            </tr>
        </tbody>
    </table>
</body>
</html>